# Ignore everything
*

# But not these files...
!._bookdown.yml
!.gitignore
!.Rhistory
!.Rproj.user
!index.Rmd
!02_Data_input_and_cleaning.Rmd
!03_Network_construction_and_module_detection.Rmd
!04_Relating_modules_to_external_clinical_traits_and_identifying_important_genes.Rmd
!05_Interfacing_network_analysis_with_other_data_such_as_functional_annotation_and_gene_ontology.Rmd
!06__Network_visualization_using_WGCNA_functions.Rmd
!07_Export_of_networks_to_external_software.Rmd
!08_chap3_select_hub_genes.Rmd
# etc...

# ...even if they are in subdirectories
!*/

# if the files to be tracked are in subdirectories
!*/a/b/file1.txt
!*/a/b/c/*
